.adminSettings {
    padding: 0em 2em;

    &__title {
        color: #d5d6d7;
        padding: 1.2em 0;
        font-size: 21px;
        font-weight: 600;
    }

    &__main {
        background-color: #1a1c23;
        padding: 40px;
        border-radius: 0.5em;

        &__file {
            display: flex;
            justify-content: space-between;
            margin-bottom: 2.3em;

            label {
                color: #9e9e9e;
                font-size: 17px;
            }

            &__wrapper {
                width: 65%;

                &__input {
                    border: 2px dashed #4c4f52;
                    position: relative;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 1.5em;
                    border-radius: 0.5rem;
                    margin-bottom: 1.2em;

                    input[type='file'] {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        cursor: pointer;
                        border-radius: 0.5rem;
                    }

                    input[type='file']:disabled {
                        cursor: default;
                    }

                    span {
                        color: #3da06f;
                        font-size: 35px;
                    }

                    h4 {
                        color: #e5e7eb;
                        font-weight: 500;
                    }

                    p {
                        margin-top: 0.5em;
                        color: #9e9e9e;
                        font-size: 14px;
                    }
                }

                &__error {
                    color: #f98080;
                    margin-top: 1em;
                    font-size: 16px;
                }

                &__img {
                    position: relative;
                    width: 130px;
                    height: 100px;
                    border-radius: 0.5rem;
                    padding: 10px;
                    border: 1px solid #4c4f52;
                    margin-top: 0.5em;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    span {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        text-align: center;
                        font-size: 15px;
                        color: white;
                        font-weight: bold;
                        box-shadow: -2px 0 8px rgb(0 0 0 / 15%);
                        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000,
                            -1px 1px 0 #000, 1px 1px 0 #000;
                    }
                }
            }
        }

        &__input {
            display: flex;
            justify-content: space-between;
            margin-top: 1.7em;

            label {
                color: #9e9e9e;
                font-size: 17px;
            }

            input {
                width: 65%;
                height: 60px;
                border-radius: 0.5rem;
                border: none;
                outline: none;
                border: 1px solid #4c4f52;
                background-color: transparent;
                color: #d5d6d7;
                padding: 0 15px;
                font-size: 16px;
                background-color: #24262d;
            }
        }

        &__submit {
            display: flex;
            justify-content: flex-end;
            margin-top: 2.8em;

            button {
                height: 52px;
                width: 150px;
                background-color: #0e9f6e;
                color: #fff;
                border-radius: 0.5em;
                font-size: 15px;
                font-weight: 500;

                &:hover {
                    background-color: #057a55;
                }
            }
        }

        &__error {
            color: #f98080;
            margin-top: 1.7em;
            font-size: 16px;
        }
    }
}

@media (max-width: 768px) {
    .adminSettings {
        padding: 0em 1.5em;
        margin-bottom: 2em;

        &__title {
            font-size: 20px;
        }

        &__main {
            padding: 1.2em;

            &__file {
                display: block;

                label {
                    font-size: 15px;
                }

                &__wrapper {
                    width: 100%;
                    margin-top: 10px;

                    &__input {
                        span {
                            font-size: 30px;
                        }

                        p {
                            text-align: center;
                            font-size: 13px;
                        }
                    }

                    &__error {
                        font-size: 14px;
                    }
                }
            }

            &__input {
                display: block;
                margin-top: 1.2em;

                label {
                    font-size: 15px;
                }

                input {
                    width: 100%;
                    height: 50px;
                    font-size: 14px;
                    margin-top: 10px;
                }
            }

            &__submit {
                display: flex;
                justify-content: flex-end;
                margin-top: 2em;

                button {
                    height: 50px;
                    font-size: 14px;
                }
            }

            &__error {
                color: #f98080;
                margin-top: 1.7em;
                font-size: 14px;
            }
        }
    }
}
