@mixin loading {
    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        transform: translateX(-100%);
        background: linear-gradient(
            90deg,
            transparent,
            rgba(255, 255, 255, 0.2),
            rgba(255, 255, 255, 0.3),
            rgba(255, 255, 255, 0.1),
            transparent
        );
        animation: loading 1.2s infinite;
    }
}

.blogSidebar {
    width: 100%;

    &__search {
        display: flex;
        align-items: center;
        background-color: #f4f4f4;
        border-radius: 30px;
        margin-bottom: 3em;

        span {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0px 1.2em;
        }

        input {
            outline: none;
            border: none;
            height: 50px;
            flex: 1;
            background: #f4f4f4;
            width: 100%;
        }

        button {
            background-color: transparent;
            padding: 0px 1.2em;
            font-weight: 500;
        }
    }

    &__categories {
        margin-bottom: 3em;

        h2 {
            color: var(--text-dark-color);
            font-family: var(--title-font-family);
            padding-bottom: 12px;
            border-bottom: 1px dashed #ebebeb;
            margin-bottom: 1.2em;
        }

        ul {
            list-style: none;

            li {
                color: #9999;
                margin-bottom: 12px;
                font-size: 17px;
                text-transform: capitalize;

                ::before {
                    content: '';
                    display: inline-block;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background-color: var(--primary-color);
                    margin-right: 15px;
                    vertical-align: middle;
                    margin-top: -2px;
                }

                a {
                    text-decoration: none;
                    color: #111;
                    transition: 0.5s;

                    &:hover {
                        color: var(--primary-hover-color);
                    }
                }
            }
        }
    }

    &__posts {
        h2 {
            color: var(--text-dark-color);
            font-family: var(--title-font-family);
            padding-bottom: 12px;
            border-bottom: 1px dashed #ebebeb;
            margin-bottom: 1.2em;
        }

        &__wrapper {
            &__single {
                display: flex;
                align-items: center;
                gap: 1.2em;
                margin-bottom: 1.5em;

                &__image {
                    width: 110px;
                    height: 110px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 3px;
                    }
                }

                &__content {
                    a {
                        text-decoration: none;

                        h4 {
                            color: var(--text-dark-color);
                            font-size: 16px;
                        }
                    }
                    span {
                        color: var(--text-light-color);
                        font-size: 14px;
                    }
                }
            }
        }
    }

    &__loading {
        &__categories {
            margin-bottom: 3em;

            &__title {
                width: 60%;
                height: 20px;
                background-color: #f2f2f2;
                padding-bottom: 12px;
                margin-bottom: 1.2em;
                position: relative;
                overflow: hidden;
                @include loading();
            }

            &__li {
                margin-bottom: 1em;
                background-color: #f2f2f2;
                width: 40%;
                height: 16px;
                position: relative;
                overflow: hidden;
                @include loading();
            }
        }

        &__recent {
            &__title {
                width: 60%;
                height: 20px;
                background-color: #f2f2f2;
                padding-bottom: 12px;
                margin-bottom: 1.2em;
                position: relative;
                overflow: hidden;
                @include loading();
            }

            &__posts {
                &__item {
                    display: flex;
                    align-items: center;
                    gap: 1.2em;
                    margin-bottom: 1.5em;

                    &__img {
                        min-width: 110px;
                        min-height: 110px;
                        background-color: #f2f2f2;
                        position: relative;
                        overflow: hidden;
                        @include loading();
                    }

                    &__content {
                        width: 100%;

                        &__h4 {
                            height: 16px;
                            width: 80%;
                            background-color: #f2f2f2;
                            position: relative;
                            overflow: hidden;
                            @include loading();
                        }

                        &__date {
                            height: 14px;
                            width: 50%;
                            background-color: #f2f2f2;
                            margin-top: 10px;
                            position: relative;
                            overflow: hidden;
                            @include loading();
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1280px) {
    .blogSidebar {
        display: none;
    }
}
