.blogGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.5em 2.5em;

    &__item {
        &__img {
            position: relative;
            width: 100%;
            aspect-ratio: 1 / 0.6;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 3px;
            }

            .blogGrid__item__category {
                position: absolute;
                bottom: 20px;
                left: 17px;
                background-color: var(--primary-color);
                text-decoration: none;
                color: #fff;
                text-transform: uppercase;
                border-radius: 3px;
                padding: 2px 10px;
                font-size: 13px;
            }
        }

        &__meta {
            display: flex;
            align-items: center;
            margin-top: 1em;

            p {
                display: flex;
                align-items: center;
                text-decoration: underline;
                color: var(--text-light-color);
                font-size: 15px;
            }

            span {
                margin: 0px 5px;
                color: var(--text-light-color);
                font-size: 15px;
            }
        }

        &__title {
            margin-top: 0.9em;

            a {
                text-decoration: none;
                color: var(--primary-color);
                font-size: 26px;
                font-family: var(--title-font-family);
            }
        }

        &__desc {
            color: var(--text-light-color);
            margin-top: 1em;
            font-size: 16px;
            line-height: 32px;
            word-break: break-all;
        }
    }
}

@media (max-width: 1536px) {
    .blogGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1280px) {
    .blogGrid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1024px) {
    .blogGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .blogGrid {
        display: block;

        &__item {
            margin-bottom: 3em;

            &__img {
                .blogGrid__item__category {
                    font-size: 12px;
                }
            }

            &__meta {
                p {
                    font-size: 14px;
                }

                span {
                    font-size: 13px;
                }
            }

            &__title {
                a {
                    font-size: 24px;
                }
            }

            &__desc {
                font-size: 15px;
                line-height: 30px;
            }
        }
    }
}
