.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.6em;
  width: 100%;

  &__wrapper {
    display: flex;
    align-items: center;

    .navbar__categories {
      margin-right: 2em;
      height: 50px;
      background-color: var(--secondary-color);
      display: flex;
      align-items: center;
      padding: 20px;
      color: white;
      border-radius: 8px;
      font-weight: 500;
      cursor: pointer;

      i {
        display: flex;
        align-items: center;
        margin-right: 5px;
      }

      span {
        display: flex;
        align-items: center;
        margin-left: 15px;
      }
    }

    .menu {
      display: flex;
      align-items: center;
      list-style: none;

      &__item {
        margin-right: 25px;
        position: relative;
        padding: 24px 0px;
        cursor: pointer;

        &:hover .dropdown {
          left: 0;
          visibility: visible;
          opacity: 1;
        }

        &:hover a {
          color: var(--primary-color);
        }

        a {
          display: flex;
          align-items: center;
          font-size: 16px;
          font-weight: 400;
          color: var(--text-dark-color);
          transition: 0.5s;
          text-decoration: none;

          i {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 8px;
          }
        }
        .dropdown {
          width: 260px;
          background-color: #fff;
          display: block;
          position: absolute;
          left: 30px;
          top: 100%;
          display: block;
          transition: 0.5s;
          visibility: hidden;
          opacity: 0;
          padding: 10px 0;
          border-radius: 12px;
          box-shadow: 0 2px 45px rgb(0 0 0 / 7%);
          list-style: none;
          cursor: default;
          z-index: 1;

          &__item {
            transition: 0.5s;
            cursor: pointer;

            &:hover {
              background-color: #f4f4f4;
            }

            &:hover a {
              color: var(--primary-color);
            }

            a {
              font-weight: 400;
              font-size: 14px;
              line-height: 1.5;
              color: var(--text-dark-color);
              text-decoration: none;
              transition: 0.5s;
              padding: 7px 25px;
            }
          }
        }
      }
    }
  }

  &__left {
    display: flex;
    align-items: center;

    span {
      color: var(--text-light-color);
      font-size: 15px;
    }
    i {
      display: flex;
      align-items: center;
      color: var(--text-dark-color);
      font-size: 20px;
      margin-right: 10px;
    }
  }
}

@media (max-width: 1024px) {
  .navbar {
    display: none;
  }
}
