.admin--categories {
    padding: 0em 2em;

    &__title {
        color: #d5d6d7;
        padding: 1.2em 0;
        font-size: 21px;
        font-weight: 600;
    }

    &__options {
        display: flex;
        align-items: center;
        gap: 2em;
        background-color: #1a1c23;
        padding: 28px 16px;
        border-radius: 0.5rem;

        &__search {
            flex: 1;
            width: 100%;
            min-width: 200px;
            height: 3.6em;

            input {
                width: 100%;
                height: 100%;
                background-color: #24262d;
                border: none;
                outline: none;
                border: 1px solid #4c4f52;
                border-radius: 0.5rem;
                padding: 0 1em;
                color: #d5d6d7;
                font-size: 16px;
            }
        }

        &__button {
            width: 260px;
            height: 3.6em;

            button {
                width: 100%;
                height: 100%;
                border-radius: 0.5rem;
                background-color: #3da06f;
                color: #fff;
                font-size: 16px;

                &:hover {
                    background-color: #057a55;
                }

                span {
                    margin-right: 10px;
                }
            }
        }
    }

    &__notfound {
        text-align: center;
        margin-top: 3em;

        img {
            width: 450px;
            max-width: 100%;
            object-fit: cover;
        }

        p {
            color: #9e9e9e;
            margin-top: 1em;
            font-size: 22px;
        }
    }
}

@media (max-width: 768px) {
    .admin--categories {
        padding: 0em 1.5em;

        &__title {
            font-size: 20px;
        }

        &__options {
            display: block;

            &__search {
                height: 50px;

                input {
                    font-size: 14px;
                }
            }

            &__button {
                width: 100%;
                height: 50px;
                margin-top: 1.2em;

                button {
                    font-size: 15px;
                }
            }
        }

        &__notfound {
            margin-top: 2.5em;

            img {
                max-width: 80%;
            }

            p {
                font-size: 20px;
            }
        }
    }
}
