.adminLoginPage-wrapper {
    background-color: #121317;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    .adminLoginPage {
        margin: 0 1.5em;
        background-color: #1a1c23;
        width: 400px;
        max-width: 100%;
        padding: 30px;
        border-radius: 0.5em;

        h2 {
            color: #d5d6d7;
            font-size: 23px;
            font-weight: 600;
            text-align: center;
            margin-bottom: 2em;
        }

        input {
            width: 100%;
            height: 50px;
            padding: 0px 15px;
            margin-bottom: 1.5em;
            border-radius: 0.5em;
            background-color: #24262d;
            border: none;
            outline: none;
            color: #d5d6d7;
        }

        &__btn {
            display: flex;
            justify-content: center;

            button {
                height: 45px;
                width: 100%;
                background-color: #0e9f6e;
                color: #fff;
                border-radius: 0.5em;
                font-size: 15px;
                font-weight: 500;
                margin-top: 1em;

                &:hover {
                    background-color: #057a55;
                }
            }
        }

        &__error {
            color: #f05252;
        }
    }
}

@media (max-width: 640px) {
    .adminLoginPage-wrapper {
        .adminLoginPage {
            padding: 1.3em;

            h2 {
                font-size: 22px;
                margin-bottom: 1.5em;
            }

            &__error {
                color: #f05252;
                font-size: 14px;
            }
        }
    }
}
