.resetPasswordEmail {
    max-width: 1650px;
    margin: 0 auto;
    padding: 0px 30px;

    &__info {
        color: var(--text-light-color);
        margin-bottom: 1em;
    }

    &__form {
        label {
            color: var(--text-dark-color);
        }

        input {
            width: 100%;
            max-width: 700px;
            outline: none;
            border: 2px solid #f2f2f2;
            border-radius: 5px;
            height: 45px;
            margin-top: 5px;
            padding: 0px 15px;
        }

        &__error {
            color: #f72e2e;
            margin-top: 0.7em;
            text-transform: capitalize;
        }

        button {
            margin-top: 1.7em;
            height: 45px;
            width: 200px;
            background-color: var(--secondary-color);
            color: var(--text-dark-color);
            border-radius: 5px;
            font-weight: 600;
            font-size: 16px;

            &:hover {
                color: #fff;
                background-color: var(--primary-color);
            }
        }
    }

    &__sendMail {
        p {
            color: var(--text-dark-color);
            font-size: 16px;
            line-height: 32px;

            span {
                font-weight: 500;
                background-color: yellow;
            }
        }
    }
}

@media (max-width: 768px) {
    .resetPasswordEmail {
        padding: 0px 20px;

        &__info {
            font-size: 14px;
            line-height: 25px;
        }

        &__form {
            label {
                font-size: 14px;
            }

            input {
                border: 1px solid #f2f2f2;
            }

            button {
                margin-top: 1.6em;
                width: 160px;
                font-weight: 500;
                font-size: 15px;
            }
        }

        &__sendMail {
            p {
                font-size: 14px;
                line-height: 28px;
            }
        }
    }
}
