.admin__navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
    background-color: #1a1c23;

    &__menu {
        color: #0e9f6e;
        font-size: 26px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        visibility: hidden;
    }

    &__right {
        display: flex;
        align-items: center;

        button {
            position: relative;
            margin-right: 1.5em;
            color: #3da06f;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            outline: none;
            background-color: transparent;
            cursor: pointer;
            font-size: 22px;

            span {
                position: absolute;
                top: -2px;
                right: -2px;
                width: 13px;
                height: 13px;
                border-radius: 50%;
                background-color: #e03b24;
                border: 2px solid #fff;
            }
        }

        .admin__navbar__avatar {
            position: relative;
            width: 38px;
            height: 38px;
            background-color: #dbdbdb;
            border-radius: 50%;
            cursor: pointer;

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
            }

            &__dropdown {
                position: absolute;
                background-color: #1a1c23;
                right: 0;
                border-radius: 0.5em;
                width: 270px;
                box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%),
                    0 4px 6px -2px rgb(0 0 0 / 5%);
                z-index: 9;

                ul {
                    list-style: none;

                    li {
                        a {
                            display: flex;
                            align-items: center;
                            text-decoration: none;
                            padding: 10px 0px 10px 16px;

                            &:hover {
                                span,
                                svg {
                                    color: #fff;
                                }
                            }

                            span {
                                margin-left: 12px;
                                color: #9e9e9e;
                                font-weight: 500;
                                font-size: 17px;
                                transition: 0.5s;
                            }

                            svg {
                                color: #9e9e9e;
                                font-size: 17px;
                                transition: 0.5s;
                            }
                        }
                    }
                }
            }
        }
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        visibility: hidden;
        opacity: 0;
        transition: 0.5s;

        &__active {
            visibility: visible;
            opacity: 0.4;
        }
    }

    &__alert {
        position: fixed;
        width: 330px;
        height: 76px;
        background-color: white;
        left: 50%;
        top: 30px;
        transform: translateX(-50%);
        z-index: 9;
        border-radius: 0.5rem;
        overflow: hidden;

        &__content {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            border-radius: 0.5rem;
            padding: 8px;
            gap: 10px;

            &__icon {
                background-color: #07bc0c;
                min-width: 24px;
                min-height: 24px;
                border-radius: 50%;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: bold;
                font-size: 14px;
            }

            p {
                color: #757575;
            }

            &__timer {
                position: absolute;
                bottom: 0;
                left: 0;
                height: 6px;
            }
        }
    }
}

@media (max-width: 1024px) {
    .admin__navbar {
        &__menu {
            visibility: visible;
        }
    }
}

@media (max-width: 640px) {
    .admin__navbar {
        &__right {
            .admin__navbar__avatar {
                &__dropdown {
                    width: 250px;

                    ul {
                        li {
                            a {
                                span {
                                    font-size: 15px;
                                }

                                svg {
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
