.notFoundPage__wrapper {
    max-width: 1650px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;

    .notFoundPage {
        margin-top: 3em;
        text-align: center;

        &__img {
            max-width: 100%;
        }

        &__title {
            margin-top: 0.2em;
            font-size: 60px;
            color: var(--primary-color);
            font-family: var(--title-font-family);
        }

        &__desc {
            color: var(--text-light-color);
            font-size: 18px;
            width: 100%;
            max-width: 500px;
            margin: 0 auto;
            line-height: 33px;
            margin-top: 1.3em;

            &__btn {
                font-size: 18px;
                background-color: transparent;
                color: var(--text-dark-color);
                font-weight: 500;
                border-bottom: 1px solid var(--primary-color);

                &:hover {
                    border: none;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .notFoundPage__wrapper {
        .notFoundPage {
            &__title {
                font-size: 50px;
            }
        }
    }
}

@media (max-width: 1024px) {
    .notFoundPage__wrapper {
        .notFoundPage {
            &__title {
                font-size: 32px;
            }

            &__desc {
                font-size: 15px;
                line-height: 28px;
            }
        }
    }
}
