.hero {
  background-color: #f9f1e4;
  height: 760px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  &__bg {
    position: absolute;
    bottom: 0;
    left: 4%;
    width: 41%;
  }

  &__content {
    width: 50%;
    position: relative;
    margin-top: 2em;
    padding-right: 30px;
    z-index: 1;

    h2 {
      color: var(--primary-color);
      font-size: 85px;
      font-family: "Signika", sans-serif;
      line-height: 85px;
    }

    p {
      color: var(--text-light-color);
      font-size: 22px;
      margin-top: 1em;
      max-width: 500px;
      font-weight: 500;
    }

    a {
      text-decoration: none;

      button {
        background-color: var(--secondary-color);
        padding: 17px 40px;
        margin-top: 2.5em;
        border-radius: 5px;
        transition: 0.5s;
        color: #3d3d3d;
        font-size: 16px;
        font-weight: 600;

        &:hover {
          background-color: var(--primary-color);
          color: #fff;
        }
      }
    }
  }

  &__design__img {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    object-fit: cover;
  }

  &__natural__img {
    position: absolute;
    top: -120px;
    left: -50px;
    width: 300px;
  }
}

@media (max-width: 1600px) {
  .hero {
    height: 710px;

    &__bg {
      width: 43%;
      left: 3%;
    }

    &__natural__img {
      width: 280px;
      left: -100px;
    }

    &__content {
      h2 {
        font-size: 76px;
        line-height: 76px;
      }
    }
  }
}

@media (max-width: 1280px) {
  .hero {
    height: 680px;

    &__content {
      h2 {
        font-size: 61px;
        line-height: 70px;
      }
    }

    &__design__img {
      height: 75%;
    }
  }
}

@media (max-width: 1024px) {
  .hero {
    height: 570px;

    &__content {
      padding-right: 15px;

      h2 {
        font-size: 46px;
        line-height: 46px;
      }

      p {
        font-size: 20px;
      }
    }

    &__natural__img {
      width: 200px;
      left: -100px;
      top: -80px;
    }

    &__bg {
      width: 50%;
      left: 3%;
    }
  }
}

@media (max-width: 768px) {
  .hero {
    height: 400px;
    text-align: center;

    &__content {
      width: 100%;
      margin: 0;
      padding: 0px 15px;

      h2 {
        font-size: 30px;
        line-height: 30px;
      }

      p {
        font-size: 15px;
      }

      a {
        button {
          font-size: 15px;
          padding: 9px 20px;
          margin-top: 1.3em;
        }
      }
    }

    &__design__img {
      height: 60%;
    }

    &__natural__img {
      display: none;
    }
  }
}
