.resetPassword {
    max-width: 1650px;
    margin: 0 auto;
    padding: 0px 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__form {
        width: 100%;
        max-width: 500px;

        label {
            color: var(--text-dark-color);
        }

        &__password {
            position: relative;
            margin-bottom: 1em;

            input {
                width: 100%;
                padding: 13px;
                border-radius: 5px;
                border: 1px solid #dbdbdb;
                margin-top: 3px;

                &:focus {
                    outline: 1px solid #333;
                }
            }

            button {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 15px;
                font-size: 20px;
                cursor: pointer;
                color: var(--text-dark-color);
                background-color: transparent;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        &__error {
            color: #f72e2e;
            margin-bottom: 0.7em;
        }

        &__submit {
            width: 100%;
            background-color: var(--secondary-color);
            color: var(--text-dark-color);
            height: 46px;
            border-radius: 5px;
            margin-top: 1.2em;
            font-weight: 500;

            &:hover {
                background: var(--primary-color);
                color: #fff;
            }
        }
    }
}
