.admin__home {
    padding: 0em 2em;

    &__title {
        color: #d5d6d7;
        padding: 1.2em 0;
        font-size: 21px;
        font-weight: 600;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.3em;

        &__item {
            width: 100%;
            border-radius: 0.5em;
            text-align: center;
            color: #fff;
            padding: 24px;

            &:nth-child(1) {
                background-color: #0694a2;
            }

            &:nth-child(2) {
                background-color: #3f83f8;
            }

            &:nth-child(3) {
                background-color: #0e9f6e;
            }

            &__icon {
                svg {
                    font-size: 42px;
                }
            }

            &__text {
                p {
                    font-size: 17px;
                    margin-top: 0.2em;
                }

                h4 {
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
                        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
                        'Helvetica Neue', sans-serif;
                    font-size: 30px;
                    margin-top: 0.3em;
                    font-weight: 700;
                }
            }
        }
    }

    &__tiles {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.3em;
        margin-top: 2.5em;

        .admin__home__tile {
            display: flex;
            align-items: center;
            background-color: #1a1c23;
            border-radius: 0.5rem;
            padding: 18px;

            &__icon {
                width: 55px;
                min-width: 55px;
                height: 55px;
                min-height: 55px;
                background-color: #ff5a1f;
                color: #fff;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 1em;
                font-size: 27px;
            }

            &__icon.order {
                background-color: #ff5a1f;
            }
            &__icon.pending {
                background-color: #3f83f8;
            }
            &__icon.processing {
                background-color: #0694a2;
            }
            &__icon.delivered {
                background-color: #0e9f6e;
            }

            &__content {
                p {
                    color: #9e9e9e;
                    font-size: 18px;
                }
                span {
                    color: #e5e7eb;
                    font-size: 24px;
                    font-weight: 700;
                    margin-top: 10px;
                }
            }
        }
    }

    &__charts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.3em;
        margin: 2.5em 0;

        &__item {
            width: 100%;
            max-width: 100%;
            min-width: 100%;
            padding: 16px;
            background-color: #1a1c23;
            border-radius: 0.5em;
            box-shadow: 0 0 0 1px rgb(0 0 0 / 5%);

            p {
                color: #d5d6d7;
                font-size: 19px;
                font-weight: 500;
                margin-bottom: 1em;
            }

            &__chart {
                width: 100% !important;
                max-width: 100%;
                aspect-ratio: 400 / 200 !important;
                // height: 300px;
                display: flex;
                justify-content: center;

                canvas {
                    height: 100% !important;
                    width: auto !important;
                }
            }
        }
    }

    &__loading {
        margin-top: 2.5em;
        text-align: center;
    }
}

@media (max-width: 1536px) {
    .admin__home {
        &__tiles {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width: 768px) {
    .admin__home {
        padding: 0em 1.5em;

        &__title {
            font-size: 20px;
        }

        &__grid {
            grid-template-columns: repeat(1, 1fr);

            &__item {
                padding: 20px;

                &__icon {
                    svg {
                        font-size: 35px;
                    }
                }

                &__text {
                    p {
                        font-size: 14px;
                    }

                    h4 {
                        font-size: 25px;
                        margin-top: 0.1em;
                        font-weight: 600;
                    }
                }
            }
        }

        &__tiles {
            grid-template-columns: repeat(1, 1fr);

            .admin__home__tile {
                &__icon {
                    width: 50px;
                    min-width: 50px;
                    height: 50px;
                    min-height: 50px;
                    font-size: 24px;
                }

                &__content {
                    p {
                        font-size: 16px;
                    }
                    span {
                        font-size: 23px;
                        font-weight: 600;
                    }
                }
            }
        }

        &__charts {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
