.admin--products {
    padding: 0em 2em;

    &__title {
        color: #d5d6d7;
        padding: 1.2em 0;
        font-size: 21px;
        font-weight: 600;
    }

    .admin--products--options {
        display: flex;
        align-items: center;
        gap: 2em;
        background-color: #1a1c23;
        padding: 28px 16px;
        border-radius: 0.5rem;

        &__search {
            flex: 1;
            width: 100%;
            min-width: 200px;
            height: 3.6em;

            input {
                width: 100%;
                height: 100%;
                background-color: #24262d;
                border: none;
                outline: none;
                border: 1px solid #4c4f52;
                border-radius: 0.5rem;
                padding: 0 1em;
                color: #d5d6d7;
                font-size: 16px;
            }
        }

        &__category,
        &__price {
            width: 350px;
            height: 3.6em;

            select {
                width: 100%;
                height: 100%;
                background-color: #24262d;
                border: none;
                outline: none;
                border: 1px solid #4c4f52;
                border-radius: 0.5rem;
                padding: 1em;
                color: #d5d6d7;
                font-size: 16px;
                appearance: none;
                background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23a0aec0'%3E%3Cpath d='M15.3 9.3a1 1 0 011.4 1.4l-4 4a1 1 0 01-1.4 0l-4-4a1 1 0 011.4-1.4l3.3 3.29 3.3-3.3z'/%3E%3C/svg%3E");
                background-position: calc(100% - 1em) center;
                background-repeat: no-repeat;
                background-size: 16px 12px;
                background-size: 25px;
            }
        }

        &__price {
            width: 300px;
        }

        &__add {
            width: 260px;
            height: 3.6em;

            button {
                width: 100%;
                height: 100%;
                border-radius: 0.5rem;
                background-color: #3da06f;
                color: #fff;
                font-size: 16px;

                &:hover {
                    background-color: #057a55;
                }

                span {
                    margin-right: 10px;
                }
            }
        }
    }
}

.admin__table {
    border: 1px solid #333;
    background-color: #1a1c23;
    margin: 2em 0;
    border-radius: 0.5em;

    table {
        width: 100%;
        color: #9e9e9e;

        thead {
            tr {
                th {
                    text-align: left;
                    padding: 12px 16px;
                }
            }
        }

        tbody {
            tr {
                td {
                    padding: 12px 16px;
                    border-top: 1px solid #24262d;

                    .table--image {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        overflow: hidden;
                        background-color: white;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    button {
                        background-color: transparent;
                        color: #9e9e9e;
                        font-size: 19px;
                    }

                    .table--viewbtn {
                        :hover {
                            color: #3da06f;
                        }
                    }

                    .table--editbtn {
                        margin-right: 15px;
                        :hover {
                            color: #3da06f;
                        }
                    }

                    .table--deletebtn {
                        font-size: 20px;
                        :hover {
                            color: red;
                        }
                    }
                }
            }
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 12px 16px;
        border-top: 1px solid #24262d;

        &__results {
            color: #9e9e9e;
            font-weight: 600;
            font-size: 14px;
        }

        &__pagination {
            display: flex;
            align-items: center;

            &__btn {
                background-color: transparent;
                color: #9e9e9e;
                width: 35px;
                height: 35px;
                border-radius: 0.5rem;
                font-weight: 500;
                margin-left: 5px;
                display: flex;
                align-items: center;
                justify-content: center;

                &:disabled {
                    cursor: not-allowed;
                }

                &:hover {
                    background-color: #22252b;
                }
            }
            &__btn__active {
                background-color: #3da06f;
                color: white;

                &:hover {
                    background-color: #057a55;
                }
            }
        }
    }
}
