.adminOrders {
    padding: 0em 2em;

    &__title {
        color: #d5d6d7;
        padding: 1.2em 0;
        font-size: 21px;
        font-weight: 600;
    }

    &__options {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2em;
        background-color: #1a1c23;
        padding: 28px 16px;
        border-radius: 0.5rem;

        &__select {
            width: 100%;
            height: 3.6em;

            select {
                width: 100%;
                height: 100%;
                background-color: #24262d;
                border: none;
                outline: none;
                border: 1px solid #4c4f52;
                border-radius: 0.5rem;
                padding: 1em;
                color: #d5d6d7;
                font-size: 16px;
                appearance: none;
                background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23a0aec0'%3E%3Cpath d='M15.3 9.3a1 1 0 011.4 1.4l-4 4a1 1 0 01-1.4 0l-4-4a1 1 0 011.4-1.4l3.3 3.29 3.3-3.3z'/%3E%3C/svg%3E");
                background-position: calc(100% - 1em) center;
                background-repeat: no-repeat;
                background-size: 16px 12px;
                background-size: 25px;
            }
        }

        &__btn {
            width: 100%;
            height: 3.6em;

            button {
                width: 100%;
                height: 100%;
                border-radius: 0.5rem;
                background-color: #3da06f;
                color: #fff;
                font-size: 16px;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    background-color: #057a55;
                }

                span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 25px;
                    margin-left: 10px;
                }
            }
        }
    }

    &__loading {
        margin-top: 2.5em;
        text-align: center;
    }

    &__notfound {
        text-align: center;
        margin-top: 3em;

        img {
            width: 450px;
            max-width: 100%;
            object-fit: cover;
        }

        p {
            color: #9e9e9e;
            margin-top: 1em;
            font-size: 22px;
        }
    }
}

.admin__table__status {
    color: #fff;
    border-radius: 99px;
    padding: 3px 12px;
    font-size: 14px;
}

@media (max-width: 1536px) {
    .adminOrders {
        &__options {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width: 768px) {
    .adminOrders {
        padding: 0em 1.5em;
        margin-bottom: 1.5em;

        &__title {
            font-size: 20px;
        }

        &__options {
            grid-template-columns: repeat(1, 1fr);
            gap: 1.5em;

            &__select {
                height: 50px;

                select {
                    font-size: 14px;
                }
            }

            &__btn {
                width: 100%;
                height: 50px;

                button {
                    font-size: 14px;

                    span {
                        font-size: 22px;
                    }
                }
            }
        }

        &__notfound {
            margin-top: 2.5em;

            img {
                max-width: 80%;
            }

            p {
                font-size: 20px;
            }
        }
    }
}
